/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $openSans;
	font-size: 16px;
	line-height: 1.6;
	color: $text-color;
	background-color: $white;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
  font-family: $robotoSlab;
  font-weight: 400;
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.site-logo {
	margin: 0.4em 1em 0em;
  height: 40px;
  width: auto;
	a {
		color: $white;
	}
}

.logo-white {
  display: none;
}

.logo-blue {
  display: block;
}

.navbar-default {
  background: rgba(248, 248, 248, 0.95);
}

.navbar-default .navbar-nav>li>a.header-link {
  font-family: $robotoSlab;
  color: $collide-blue;
  font-weight: 400;
  padding-left: 1.7em;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  padding: 1em;
}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
	border-bottom: 0;
	margin: 0;

	li {

		a {
			display: block;
			color: $white;
			text-decoration: none;
			padding: 0.75em;

			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}


		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */


/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	margin-top: 1.5em;
}

		.hentry {
			background-color: $white;
			border-radius: 3px;
			margin-bottom: 1.5em;
			border: 1px solid $border-color;

			header {
				border-bottom: 1px solid $light-gray;
				padding: 1.5em;
			}

			footer {
				padding: 1.5em;
				border-top: 1px solid $light-gray;

				p {
					margin: 0;
				}
			}

		} /* end .hentry */

		.single-title,
		.page-title,
		.entry-title {
			margin: 0;
		}

		.single-title {}

		.page-title {}

		.entry-title {}

		.archive-title {}

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			color: $meta-gray;
			font-style: italic;
			margin: 0;

			time {}
		}

		/* entry content */
		.entry-content {
			padding: 1.5em 1.5em 0;

			p {
				margin: 0 0 1.5em;
			}


			ul, ol, table, dl {}

			ul, ol {

				li {}

			}

			ul {

				li {}

			}

			ol {

				li {}

			}

			table {
				width: 100%;
				border: 1px solid $gray;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1px solid $gray;

				&:nth-child(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			blockquote {
				margin: 0 0 1.5em 0.75em;
				padding: 0 0 0 0.75em;
				border-left: 3px solid $blue;
				font-style: italic;
				color: $meta-gray;

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

	// the tag output
	.tags {
		margin: 0;
	}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $blue;

      &:hover, &:focus {
      	background-color: $blue;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5em;
	border-top: 1px solid $light-gray;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		a {
			color: $text-color;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .blue-btn;
		float: right;
		font-size: 1em;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: $white;
	color: $light-gray;
}
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {}
/*********************
GLOBAL CUSTOM STYLES
*********************/

// global //
.text-white {
  color: $white;
}

.text-center {
  text-align: center;
}

.no-left-pad {
  padding-left: 0px;
}

.header-underline {
  border-bottom: 3px solid $collide-yellow;
  display: inline-block;
  margin-top: 0em;
}

.inner-content {
  padding: 5em 0em;
}

.container {
  max-width: 1040px;
}

.p-subhead {
  font-size: 1.25em;
}

// buttons //
.btn-primary {
  color: $white;
  background-color: $orange;
  font-family: $robotoSlab;
  text-transform: uppercase;
  border: none;
  border-radius: 0px;
  text-align: center;
  margin: 1.5em auto 0em;
  font-weight: 700;
  font-size: 1.3em;
  padding: 0.6em 0.8em 0.7em;
  &:hover {
    background-color: lighten($orange, 10%);
  }
}

a.btn-primary {
  color: $white;
  &:hover {
    color: $white;
  }
}

/*********************
SPECIFIC PAGE TEMPLATES
*********************/

// Hero section styles
#home-hero-section {
  background: url(../images/collide-hero-bkg.jpg) no-repeat;
  background-size: cover;
}

.home-hero-width {
  text-align: center;
  max-width: 42em;
  margin: 0 auto;
}

.logo-circle {
  max-width: 195px;
  display: block;
  margin: 0 auto;
  img {
    width: 100%;
  }
}

#home-hero-content {
  padding: 4em 0em;
  h1 {
    font-size: 2em;
    margin-bottom: 0.25em;
  }
}

#home-hero-description {
  font-size: 1.2em;
}

.btn-link {
  display: block;
  max-width: 16em;
  margin: 0 auto;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

#home-hero-btn {
  padding: 0.6em 0.6em 0.7em 0.8em;
  .fa {
    padding-left: 0.3em;
  }
}

// Services section styles
.services-box {
  border: 1px solid $gray;
  min-height: 15em;
  text-align: center;
  transition: 0.3s;
  padding: 2em 1em 1em 1em;
  &:hover {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
  }
  .icon {
    background: $gray;
    width: 6em;
    height: 6em;
    margin: 0 auto;
    border-radius: 3.5em;
  }
  h2 {
    color: $collide-blue;
  }
}

.services-boxes {
  .active {

  }
}

#brand-dev,
#strat-part {
  display: none;
}

#home-services-section-mobile {
  .panel {
    border-radius: 0px;
    margin-bottom: 0px;
    border: none;
  }
  .services-text {
    display: none;
    padding: 2em;
  }
  h2 {
    font-size: 1.4em;
    color: $collide-blue;
    margin: 0.6em 0em;
    &:hover {
      text-decoration: none;
    }
  }
  .panel-title {
    position: relative;
  }
  .plus-icon {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2em;
  }
}

#home-services-section {
  display: none;
}

#additional-services {
  text-align: center;
  padding: 4em 0em 0em;
  border-top: 1px solid $gray;
  h3 {
    color: $collide-blue;
    font-weight: 700;
    font-size: 1.2em;
  }
  .service-1,
  .service-2 {
    border-right: 2px solid $gray;
  }
}

// About section
#about-section {
  background: $collide-blue;
  .paragraph-1,
  .paragraph-2 {
    padding-left: 0em;
  }
}

#about-subhead {
  margin-bottom: 1em;
}

// Team section
.team-section-content {
  padding: 4em 0em;
}

.team-member {
  width: 100%;
  display: block;
  float: left;
  position: relative;
  margin-bottom: 2.5%;
  img {
    width: 100%;
    height: 100%;
  }
  &:hover {
    .team-member-overlay {
      display: block;
      transition: 0.3s;
    }
  }
}

.team-member-overlay {
  position: absolute;
  display: none;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  width: 100%;
  height: 100%;
  .team-member-text {
    position: absolute;
    bottom: 1em;
    left: 1em;
  }
  .member-name {
    color: $white;
    font-size: 1.75em;
    margin-bottom: 0em;
  }
  .member-job-title {
    color: $collide-yellow;
    font-size: 1.2em;
  }
}

// Contact section
#contact-section {
  background: $collide-blue;
}

// form styles
.wpcf7-form {
  p {
    color: $white;
  }
  input,
  textarea {
    border-radius: 0px;
  }
}

.icon-section {
  .contact-item {
    display: block;
    float: left;
    margin: 0em 0em 0em 1.2em;
  }
  .fa {
    font-size: 1.4em;
    display: block;
    float: left;
  }
}

.icon-1,
.icon-2,
.icon-3 {
  padding-bottom: 2.5em;
}
